@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark-color: #000000;
  --primary-light-color: #ffffff;
  --secondary-dark-color: #14213d;
  --secondary-light-color: #e5e5e5;
  --third-color: #fca311;
}

body {
  @apply bg-secondary-light dark:bg-primary-dark
}
